# Visual Studio
.vs/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Build artifacts
*.exe
*.dll
*.pdb
*.ilk
*.aps
*.ipch
*.obj
*.exp
*.sdf
*.opensdf
*.user
*.suo
*.ncb
*.log
*.tlog
*.lastbuildstate
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Oo]bj/

# Ignore SFML build artifacts
bin/
lib/
dependencies/

# Others
src/GravitySimulation_v2/x64/
src/GravitySimulation_v2/GravitySimulation_v2/x64/
src/GravitySimulation_v2/.vs/
